@import 'mixins';
@import 'vars';

.brands {
    @include swiper-controls;

    &__heading {
        @include small-tablet {
            margin-bottom: 3rem;
        }
    }

    &__swiper {
        position: relative;
        width: 90%;

        @include small-tablet {
            width: 97%;
        }
    }

    &__swiper-decor-line {
        background: #cabdf1;
        height: 0.1rem;
        width: 100%;
        position: relative;
        top: 14rem;
        transform: translateY(50%);

        @include small-tablet {
            top: 15rem;
        }

        &::after,
        &::before {
            @include pseudo {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background: $accent;
                top: -0.6rem;

                @include small-tablet {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        &::after {
            right: 0;
        }

        &::before {
            left: 0;
        }
    }

    &-slide {
        padding: 4rem 0;
        display: flex !important;
        align-items: center;
        justify-content: center;

        @include small-tablet {
            padding: 8rem 0;
        }
    }

    &-pagination-info {
        .swiper-pagination-bullet {
            width: 1.6rem !important;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 7rem;

        @include small-tablet{
            gap: 3.2rem;
        }
    }

    &__item {
        width: 20rem;
        height: 20rem;

        @include small-tablet{
            width: 14rem;
            height: 14rem;

            &:first-child {
                display: none;
            }

            &:last-child{
                display: none;
            }
        }

        svg {
            width: 100%;
            height: 100%;
            transition: 0.3s all ease-in;

            circle {
                fill: $light-blue;
                transition: 0.3s all ease-in;
            }

            &:hover{
                transform: scale(1.2);
                fill: var(--white, #fff);
                filter: drop-shadow(2rem 4rem 10rem rgba(128, 131, 181, 0.2));

                circle {
                    fill: $white;
                }
            }
        }
    }
}
