@import "mixins";
@import "vars";

.calculator{
    &__content {
        border-radius: 5rem;
        background: $light-blue;
        padding: 6rem;
        position: relative;

        @include small-tablet{
            padding: 3rem 4rem 18rem 4rem;
            overflow: hidden;
        }
    }

    &__image {
        position: absolute;
        left: 4rem;
        top: -8rem;
        width: 56rem;
        height: 56rem;

        @include small-tablet{
            right: -10rem;
            bottom: -9rem;
            top: auto;
            left: auto;
            width: 36rem;
            height: 36rem;
        }
    }

    &__info {
        margin-left: auto;
        max-width: 83.7rem;
        width: 100%;

        &-title {
            color: $black;
            font-size: 6rem;
            font-weight: 600;
            line-height: 7.2rem;
            margin-bottom: 4rem;

            @include small-tablet{
                font-size: 4.8rem;
                line-height: 5.6rem;
                margin-bottom: 2rem;
            }
        }

        &-description {
            color: $black;
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.8rem;
            margin-bottom: 3rem;

            @include small-tablet{
                font-size: 3.4rem;
                line-height: 4.8rem;
                color: $grey;
                margin-bottom: 5rem;
                max-width: 42rem;
            }
        }

        &-form {
            &-fields {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                margin-bottom: 4rem;

                @include small-tablet{
                    flex-direction: column;
                    gap: 3rem;
                }
            }

            &-field {
                width: 100%;
            }

            &-button {
                padding: 1.9rem 2.6rem;

                @include small-tablet{
                    padding: 2.1rem 4rem;
                }
            }
        }
    }

    &__decor {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 19.7rem;
        height: 14.3rem;

        @include small-tablet{
            right: auto;
            left: 2rem;
            bottom: 2rem;
            width: 13rem;
            height: 12rem;
            transform: rotate(110deg);
        }
    }
}