@import 'vars';
@import 'mixins';

.catalog {
    &__heading {
        margin-bottom: 4rem;

        @include small-tablet {
            flex-direction: column;
            align-items: flex-start;
            gap: 6rem;
        }

        &-settings {
            transition: 0.3s background ease;

            @include small-tablet {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            @include small-tablet {
                &.--active {
                    position: fixed;
                    top: 0;
                    background: $white;
                    box-shadow: 0.5rem 1.3rem 5rem rgba(57, 56, 113, 0.15);
                    z-index: 6;
                    left: 0;
                    right: 0;
                    padding: 3rem;
                }
            }

            &-filter {
                @include small-tablet {
                    border-radius: 6rem;
                    border: 0.1rem solid #e6eaff;
                    background: $white;
                    box-shadow: 1rem 2.3rem 10rem 0 rgba(57, 56, 113, 0.15);
                    padding: 1.9rem 3.7rem;
                    transition: 0.3s all ease;

                    &:hover {
                        svg {
                            path {
                                fill: $white;
                            }
                        }

                        background: $accent;
                    }

                    svg {
                        width: 4.8rem;
                        height: 4.8rem;

                        path {
                            transition: 0.3s all ease;
                        }
                    }
                }
            }
        }
    }

    &__sort {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &.--active {
            .catalog__sort-menu {
                @media (min-width: 48rem) {
                    transform: scale(1);
                }
                opacity: 1;
                pointer-events: auto;
                user-select: auto;

                .wrapper {
                    transform: scale(1);
                }
            }

            .catalog__sort-heading {
                svg {
                    transform: rotate(-180deg);
                }
            }
        }

        &-heading {
            display: flex;
            align-items: center;
            gap: $gap-xs;
            cursor: pointer;

            @include small-tablet {
                gap: $gap-s;
                border-radius: 6rem;
                border: 0.1rem solid #e6eaff;
                background: $white;
                box-shadow: 0.5rem 1.3rem 5rem 0 rgba(57, 56, 113, 0.15);
                padding: 2.1rem 3.4rem;
            }

            &:hover {
                .catalog__sort-heading {
                    &-title {
                        color: $accent;
                    }

                    &-icon {
                        transform: rotate(-90deg);
                    }
                }
            }

            &-title {
                color: $black;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;
                transition: 0.3s all ease;

                @include small-tablet {
                    font-size: 3rem;
                    line-height: 4.5rem;
                }
            }

            &-icon {
                width: 2rem;
                height: 2rem;
                transition: 0.3s all ease;

                @include small-tablet {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }

        &-wrapper {
            @include small-tablet {
                position: fixed;
                inset: 0;
                background: rgba(#3b3c40, 0.4);
                max-width: 100%;
                width: 100%;
                border-radius: 0;
            }
        }

        &-menu {
            padding: 3rem 2.4rem;
            position: absolute;
            top: 4rem;
            border-radius: 2.5rem;
            background: $white;
            box-shadow: 1rem 2rem 9.4rem 0 rgba(125, 128, 161, 0.2);
            display: flex;
            flex-direction: column;
            width: 36rem;
            right: 0;
            z-index: 6;
            transition: 0.3s all ease;
            opacity: 0;
            will-change: opacity, transform;
            pointer-events: none;
            user-select: none;

            @media (min-width: 48rem) {
                transform: scale(0.95);
            }

            @include small-tablet {
                position: fixed;
                inset: 0;
                background: rgba(#3b3c40, 0.4);
                max-width: 100%;
                width: 100%;
                border-radius: 0;
                padding: 0;
            }

            .wrapper {
                @include small-tablet {
                    margin-top: auto;
                    border-radius: 4rem 4rem 0rem 0rem;
                    background: $white;
                    padding: 4rem 3rem;
                    transform: scale(0.95);
                    transition: 0.3s all ease;
                }
            }
        }

        &-item {
            width: 100%;
            transition: 0.3s all ease;
            border-radius: 3rem;
            padding: 1.35rem 1.6rem;

            @media (min-width: 48rem) {
                &:hover {
                    background: #f1f2fa;
                }
            }
        }
    }

    &__filters {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0.7rem;
        margin-bottom: 4rem;

        @include small-tablet {
            gap: 0;
        }

        &.--active {
            .catalog__filters-list {
                max-height: 100%;
                max-width: 100%;
                overflow: auto;
            }

            .catalog__filters-show-more {
                display: none;
            }
        }

        &-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: $gap-xs 0.3rem;
            max-height: 4rem;
            max-width: 95%;
            overflow: hidden;

            @include small-tablet {
                gap: 0;
                max-width: 100%;
                white-space: nowrap;
                flex-wrap: initial;
                max-height: initial;
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
        }

        &-item {
            border-radius: $initial-border-radius;
            background: $white;
            display: inline-flex;
            transition: 0.3s all ease;

            @include small-tablet {
                border-radius: 6rem;
            }

            &.--active {
                background: $accent;
                a {
                    color: $white;
                }
            }

            @media (min-width: 48rem) {
                &:hover {
                    background: $accent;

                    a {
                        color: $white;
                    }
                }
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 0.75rem 2.6rem;
                color: $black;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;
                transition: 0.3s all ease;

                @include small-tablet {
                    font-size: 3rem;
                    line-height: 4.5rem;
                    padding: 1.3rem 4rem;
                }
            }
        }

        &-show-more {
            color: $accent;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.464rem;
            display: flex;
            align-items: center;
            gap: $gap-xs;
            max-width: 14.5rem;
            width: 100%;
            cursor: pointer;
            margin-top: 0.7rem;

            @include small-tablet {
                display: none;
            }

            &:hover {
                svg {
                    transform: rotate(-90deg);
                }
            }

            svg {
                width: 2.4rem;
                height: 2.4rem;
                transition: 0.3s all ease;
            }
        }

        &-hide {
            margin-left: 1.4rem;
            color: $accent;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.464rem;

            @include small-tablet {
                display: none;
            }
        }
    }

    &__products {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: $gap-m;

        @include small-tablet {
            gap: 0;
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: $gap-xs;
            align-items: center;
            width: 100%;
        }

        &-filters {
            max-width: 36.8rem;
            width: 100%;
            padding: 4rem 4rem 1.9rem 4rem;
            border-radius: 2.5rem;
            background: $white;
            box-shadow: 2rem 4rem 10rem 0 rgba(128, 131, 181, 0.2);

            @include small-tablet {
                border-radius: 0;
                box-shadow: initial;
                max-width: 100%;
                overflow: auto;
                z-index: 6;
                opacity: 0;
                transform: scale(0.95);
                will-change: opacity, transform;
                pointer-events: none;
                user-select: none;
                padding: 0;
                transition:
                    opacity 0.3s,
                    transform 0.3s;
                position: fixed;
                inset: 0;
                padding: 8rem 3rem 0 3rem;

                &.--active {
                    opacity: 1;
                    transform: scale(1);
                    pointer-events: auto;
                    user-select: auto;
                }
            }

            &-heading {
                @include small-tablet {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 6rem;

                    &-title {
                        color: $black;
                        font-size: 4rem;
                        font-weight: 600;
                        line-height: 4.8rem;
                    }

                    svg {
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                }
            }

            &-title {
                color: $black;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.8rem;
                margin-bottom: 1.5rem;
                display: block;

                @include small-tablet {
                    font-size: 3.4rem;
                    line-height: 4.8rem;
                    margin-bottom: 4rem;
                }

                &:not(:first-child) {
                    margin-top: 3rem;

                    @include small-tablet {
                        margin-top: 6rem;
                    }
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                @include small-tablet {
                    gap: $gap-m;
                }
            }

            &-fields {
                gap: $gap-xs;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                @include small-tablet {
                    gap: $gap-s;
                    justify-content: initial;
                }
            }

            &-slide {
                display: flex;
                gap: 1.5rem;
                flex-direction: column;

                @include small-tablet {
                    gap: $gap-m;
                }

                label {
                    flex: 1;

                    @include small-tablet {
                        flex: initial;
                    }
                }

                &-field {
                    border-radius: $initial-border-radius;
                    background: #f1f2fa;
                    padding: 0.75rem 2.6rem;
                    color: $black;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.464rem;
                    width: 100%;

                    @include small-tablet {
                        max-width: 22.2rem;
                        font-size: 3rem;
                        line-height: 4.5rem;
                        padding: 1.7rem 5.2rem;
                    }

                    &::placeholder {
                        color: $grey;
                        font-size: 1.6rem;
                        font-weight: 500;
                        line-height: 2.464rem;

                        @include small-tablet {
                            font-size: 3rem;
                            line-height: 4.5rem;
                        }
                    }
                }
            }

            &-show-more {
                color: $accent;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;
                margin-bottom: 3rem;
                margin-top: 1.5rem;

                @include small-tablet {
                    font-size: 3rem;
                    line-height: 4.5rem;
                    margin-top: 3rem;
                    margin-bottom: 6rem;
                }
            }

            &-button {
                padding: 1.75rem;
                width: 100%;
                text-align: center;
                margin-bottom: 1.5rem;

                @include small-tablet {
                    margin-bottom: 3rem;
                    padding: 2.1rem;
                }

                &-bottom {
                    @include small-tablet {
                        position: sticky;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: $white;
                        box-shadow: 1rem 2.6rem 10rem rgba(57, 56, 113, 0.15);
                        z-index: 6;
                        width: 75rem;
                        transform: translateX(-3rem);
                        padding: 8rem 1.5rem 5.2rem 1.5rem;
                    }
                }
            }

            &-reset {
                color: $black;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;
                text-align: center;
                width: 100%;

                @include small-tablet {
                    font-size: 3rem;
                    line-height: 4.5rem;
                }
            }
        }

        &-list {
            gap: $gap-m;
            display: flex;
            flex-wrap: wrap;

            @include small-tablet {
                gap: $gap-s 1.8rem;
            }
        }

        &__item {
            max-width: 36.7rem;
            width: 100%;

            @include small-tablet {
                max-width: 33.6rem;
            }

            @include product-card;
        }
    }
}
