@import 'vars';
@import 'mixins';

.section-title {
    color: $black;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 7.2rem;

    @include small-tablet {
        font-size: 4.8rem;
        font-style: normal;
        line-height: 5.96rem;
    }
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $heading-bottom-gap;

    @include small-tablet {
        .button {
            display: none;
        }
    }
}

.button {
    transition: transform 0.2s;
    will-change: transform;

    &:disabled {
        opacity: 0.5;
        user-select: none;
        pointer-events: none;
    }

    @include button {
        @include small-tablet {
            font-size: 3rem;
            line-height: 5.5rem;
            border-radius: 6rem;
        }
    }

    &:active {
        transform: scale(0.95);
    }
}

.solid {
    color: $black;
    border-radius: $initial-border-radius;
    background: $white;
}

.outlined {
    @extend .solid !optional;

    background: $white;
    border: 0.1rem solid #e6eaff;
}

.input {
    @include input();
}

.label {
    @include label();
}

.icon-circle {
    @include icon-circle;
}

.icon-circle-blue {
    @include icon-circle-blue(1.3rem);
}

.pagination-current-slide {
    color: $accent;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem;

    @include small-tablet {
        font-size: 3.4rem;
        font-weight: 600;
        line-height: 4.8rem;
    }
}

.pagination-length-slides {
    color: $grey;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem;

    @include small-tablet {
        font-size: 3.4rem;
        font-weight: 600;
        line-height: 4.8rem;
    }
}

.link-all {
    padding: 1.7rem 2.6rem;

    @include small-tablet {
        margin-top: 6rem;
        padding: 1.9rem 4rem;
        display: inline-block;
    }
}

.pagination {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    justify-content: center;
    margin-top: 4rem;

    @include small-tablet {
        gap: 1.5rem;
    }

    &-prev-link,
    &-next-link {
        padding: 0.75rem 1.6rem;
        border-radius: 2rem;
        border: 0.1rem solid $grey;
        color: $black;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.464rem;
        transition: 0.3s all ease-in;

        @include small-tablet {
            padding: 0.7rem 3.2rem;
            font-size: 3rem;
            border-radius: 4rem;
            line-height: 4.5rem;
        }

        &.--disabled {
            user-select: none;
            pointer-events: none;

            color: $grey;
        }

        &:hover {
            background: $grey;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        @include small-tablet {
            gap: 0.8rem;
        }
    }

    &__item {
        padding: 0.9rem 1.5rem 0.6rem 1.5rem;
        border-radius: 1.4rem;
        border: 0.2rem solid $light-blue;
        color: $black;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.464rem;
        background: transparent;
        transition: 0.3s all ease-in;

        @include small-tablet {
            padding: 0.8rem 2rem;
            font-size: 3rem;
            line-height: 4.5rem;
            border-radius: 2rem;
        }

        &:hover {
            background: #e6eaff;
        }

        &.--active {
            background: #e6eaff;
        }

        &.--crumbs {
            display: none;
            background: transparent;
            border: 0;

            @include small-tablet {
                display: block;
            }
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 1.38rem;
    cursor: pointer;

    @include small-tablet {
        gap: $gap-s;
    }

    span {
        color: $black;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.464rem;

        @include small-tablet {
            font-size: 3rem;
            line-height: 4.5rem;
        }
    }

    input {
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0.8rem;
        display: grid;
        place-content: center;
        position: relative;
        transition: 0.15s all ease-in-out;
        border: 0.1rem solid $light;

        @include small-tablet {
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
        }

        @media (min-width: 48rem) {
            &:hover {
                &::after {
                    transform: scale(1);
                }

                border: 0.1rem solid transparent;
            }
        }

        &::before {
            @include pseudo {
                opacity: 0;
                transition: 0.3s all ease;
                background: $accent;
                border-radius: inherit;
                transform-origin: center;
                background: url('../img/checkbox-icon.svg') no-repeat center;
                background-size: cover;
                width: 1.0655rem;
                height: 0.8419rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;

                @include small-tablet {
                    width: 1.8rem;
                    height: 1.4rem;
                }
            }
        }

        &::after {
            @include pseudo {
                width: 100%;
                height: 100%;
                transform: scale(0);
                transition: 0.3s all ease;
                background: $accent;
                border-radius: inherit;
                z-index: 1;
            }
        }

        &:checked {
            border: 0.1rem solid transparent;

            &::before {
                opacity: 1;
            }

            &::after {
                transform: scale(1);
            }
        }
    }
}

.radio {
    display: flex;
    align-items: center;
    gap: $gap-xs;
    cursor: pointer;

    @include small-tablet {
        gap: $gap-s;
    }

    span {
        color: $black;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.464rem;

        @include small-tablet {
            font-size: 3.2rem;
            line-height: 4.5rem;
        }
    }

    input {
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: currentColor;
        max-width: 2.4rem;
        width: 100%;
        height: 2.4rem;
        border-radius: 50%;
        display: grid;
        place-content: center;
        position: relative;
        transition: 0.15s all ease-in-out;
        border: 0.1rem solid $grey;
        padding: 0.5rem;

        @include small-tablet {
            max-width: 4.8rem;
            height: 4.8rem;
        }

        &::after {
            @include pseudo {
                width: 1.4rem;
                height: 1.4rem;
                transition: 0.3s all ease;
                background: $accent;
                border-radius: inherit;
                z-index: 1;
                transform: scale(0);
                inset: 0.4rem;

                @include small-tablet {
                    inset: 1rem;
                    width: 2.8rem;
                    height: 2.8rem;
                }
            }
        }

        &:checked {
            &::after {
                transform: scale(1);

                @include small-tablet {
                    transform: scale(1) translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                }
            }
        }
    }
}
