@import 'vars';
@import 'mixins';

.section-title {
    color: $black;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 7.2rem;

    @include small-tablet {
        font-size: 4.8rem;
        font-style: normal;
        line-height: 5.96rem;
    }
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $heading-bottom-gap;

    @include small-tablet {
        .button {
            display: none;
        }
    }
}

.button {
    transition: transform .2s;
    will-change: transform;
    
    &:disabled{
        opacity: .5;
        user-select: none;
        pointer-events: none;
    }

    @include button {
        @include small-tablet {
            font-size: 3rem;
            line-height: 5.5rem;
            border-radius: 6rem;
        }
    }

    &:active{
        transform: scale(.95);
    }
}

.solid {
    color: $black;
    border-radius: $initial-border-radius;
    background: $white;
}

.outlined {
    @extend .solid !optional;

    border: 0.1rem solid $light;
}

.input {
    @include input();
}

.label {
    @include label();
}

.icon-circle {
    @include icon-circle;
}

.icon-circle-blue {
    @include icon-circle-blue(1.3rem);
}

.pagination-current-slide {
    color: $accent;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem;

    @include small-tablet{
        font-size: 3.4rem;
        font-weight: 600;
        line-height: 4.8rem;
    }
}

.pagination-length-slides {
    color: $grey;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem;

    @include small-tablet{
        font-size: 3.4rem;
        font-weight: 600;
        line-height: 4.8rem;
    }
}

.link-all {
    padding: 1.7rem 2.6rem;

    @include small-tablet{
        margin-top: 6rem;
        padding: 1.9rem 4rem;
        display: inline-block;
    }
}

.pagination {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    justify-content: center;
    margin-top: 4rem;

    @include small-tablet{
        gap: 1.5rem;
    }

    &-prev-link, &-next-link {
        padding: .75rem 1.6rem;
        border-radius: 2rem;
        border: .1rem solid $grey;
        color: $black;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.464rem;
        transition: .3s all ease-in;

        @include small-tablet{
            padding: .7rem 3.2rem;
            font-size: 3rem;
            border-radius: 4rem;
            line-height: 4.5rem;
        }

        &.--disabled{
            user-select: none;
            pointer-events: none;

            color: $grey;
        }

        &:hover{
            background: $grey;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__item {
        padding: 0.9rem 1.5rem 0.6rem 1.5rem;
        border-radius: 1.4rem;
        border: .2rem solid $light-blue;
        color: $black;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.464rem;
        background: transparent;
        transition: .3s all ease-in;

        @include small-tablet{
            padding: .8rem 2rem;
            font-size: 3rem;
            line-height: 4.5rem;
        }

        &:hover{
            background: $light-blue;
        }

        &.--active{
            background: $light-blue;
        }

        &.--crumbs {
            display: none;
            background: transparent;
            border: 0;

            @include small-tablet{
                display: block;
            }
        }
    }
}