@import "vars";
@import "mixins";

.contacts {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 15rem;

        @include small-tablet{
            gap: 6rem;
            flex-direction: column-reverse;
        }
    }

    &-top {
        display: flex;
        justify-content: space-between;

        @include small-tablet{
            flex-direction: column;
        }
    }

    &__banner {
        max-width: 76.5rem;
        width: 100%;
        border-radius: 4rem;

        @include small-tablet{
            max-width: 100%;
            height: 40rem;
            margin-bottom: 4rem;
        }

        img {
            height: 100%;
        }
    }

    &__info{
        &-title {
            color: $black;
            font-size: 6rem;
            font-weight: 600;
            line-height: 7.2rem;
            margin-bottom: 3rem;

            @include small-tablet{
                font-size: 4.8rem;
                line-height: 5.6rem;
                margin-bottom: 2rem;
            }
        }

        &-description {
            color: $black;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.464rem;
            margin-bottom: 10.4rem;
            max-width: 48rem;
            width: 100%;

            @include small-tablet{
                max-width: 100%;
                font-size: 3rem;
                line-height: 4.7rem;
                margin-bottom: 4rem;
            }
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(2, 36.2rem);
            gap: 3rem 6rem;

            @include small-tablet{
                display: flex;
                flex-direction: column;
                gap: $gap-l;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            @include small-tablet{
                gap: $gap-m;
            }

            &-icon {
                width: 8rem;
                height: 8rem;
                display: flex;
                align-items: center;
                justify-content: center;

                @include small-tablet{
                    width: 10rem;
                    height: 10rem;
                }

                svg {
                    width: 3.2rem;
                    height: 3.2rem;

                    @include small-tablet{
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: $gap-xs;

                @include small-tablet{
                    gap: $gap-s;
                }

                &-title {
                    color: $black;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 2.8rem;

                    @include small-tablet{
                        font-size: 3.4rem;
                        line-height: 4.8rem;
                    }
                }

                &-description {
                    color: $grey;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.464rem;
                    font-style: normal;

                    @include small-tablet{
                        font-size: 3rem;
                        line-height: 4.5rem;
                    }
                }
            }
        }
    }
}