@import 'vars';
@import 'mixins';

.feedback {
    @include swiper-controls;

    &__swiper {
        max-width: 94.5rem;
        width: 100%;
        margin-left: initial !important;
    }

    &__slides {
        display: flex;
        align-items: center;
        position: relative;
        gap: 12.6rem;
        justify-content: space-between;
    }

    &-slide {
        display: flex !important;
        align-items: center;
        gap: 7.5rem;
    }

    &__blockquote {
        max-width: 51.8rem;
        width: 100%;
        margin-left: 5.5rem;

        &-author {
            color: $black;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 2.88rem;
            display: block;
            margin-bottom: 2rem;
        }

        &-text {
            color: $black;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.464rem;
            margin: 0;
            margin-bottom: 3rem;
            display: flex;
            justify-content: flex-end;
        }

        &-date {
            color: $grey;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.464rem;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__author {
        padding: 1.67rem;
        border-radius: 50%;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.29) -34.07%,
            rgba(224, 228, 255, 0.58) 111.47%,
            rgba(255, 255, 255, 0.58) 111.48%
        );
        border-right: 0.1rem solid #a5a9bc;
        max-width: 30rem;
        width: 100%;
        height: 30rem;

        img {
            height: 100%;
            border-radius: inherit;
        }
    }

    &-list {
        &__swiper {
            margin-top: -7rem;
            padding-left: .2rem !important;
        }

        &-slide {
            width: 18rem !important;
            height: 18rem !important;
        }

        &-wrapper {
            max-width: 50rem;
            width: 100%;
        }

        &-image {
            &__wrapper {
                padding: 1.67rem;
                border-radius: 50%;
                background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0.29) -34.07%,
                    rgba(224, 228, 255, 0.58) 111.47%,
                    rgba(255, 255, 255, 0.58) 111.48%
                );
                border-right: 0.1rem solid #a5a9bc;
                width: 18rem;
                height: 18rem;

                &.reverted {
                    border-right: transparent;
                    border-left: 0.1rem solid #a5a9bc;
                }

                img {
                    border-radius: inherit;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &-buttons {
        margin-top: 0;
    }

    &-controls {
        gap: 15.1rem;
        justify-content: flex-end;
        margin-top: -4rem;
    }

    &-button {
        padding: 0.75rem 1.6rem;
        border-radius: 2rem;
        border: 0.1rem solid $grey;
        color: $black;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.464rem;
    }
}
