@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansRegular.eot');
    src:
        url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
        url('../fonts/OpenSansRegular.woff2') format('woff2'),
        url('../fonts/OpenSansRegular.woff') format('woff'),
        url('../fonts/OpenSansRegular.ttf') format('truetype'),
        url('../fonts/OpenSansRegular.otf') format('opentype'),
        url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansMedium.eot');
    src:
        url('../fonts/OpenSansMedium.eot') format('embedded-opentype'),
        url('../fonts/OpenSansMedium.woff2') format('woff2'),
        url('../fonts/OpenSansMedium.woff') format('woff'),
        url('../fonts/OpenSansMedium.ttf') format('truetype'),
        url('../fonts/OpenSansMedium.otf') format('opentype'),
        url('../fonts/OpenSansMedium.svg#OpenSansMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansSemiBold.eot');
    src:
        url('../fonts/OpenSansSemiBold.eot') format('embedded-opentype'),
        url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
        url('../fonts/OpenSansSemiBold.woff') format('woff'),
        url('../fonts/OpenSansSemiBold.ttf') format('truetype'),
        url('../fonts/OpenSansSemiBold.otf') format('opentype'),
        url('../fonts/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansBold.eot');
    src:
        url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
        url('../fonts/OpenSansBold.woff2') format('woff2'),
        url('../fonts/OpenSansBold.woff') format('woff'),
        url('../fonts/OpenSansBold.ttf') format('truetype'),
        url('../fonts/OpenSansBold.otf') format('opentype'),
        url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
