@import 'vars';
@import 'mixins';

.header {
    padding-top: 1.85rem;
    transition: 0.3s all ease;

    @include small-tablet {
        padding-top: 3rem;
    }

    &.--active {
        background: $white;
    }

    &__logo {
        max-width: 18.7rem;
        width: 100%;
        height: 3rem;
        display: block;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include small-tablet {
            height: 100%;
            max-width: 28rem;
        }
    }

    &__bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;
        border-bottom: 0.1rem solid $white;
        margin-bottom: 2.4rem;

        @include small-tablet {
            margin-bottom: 0;
        }

        &-contacts {
            display: flex;
            align-items: center;
            gap: $gap-l;

            &-item {
                display: flex;
                align-items: center;
                gap: $gap-xs;

                @include small-tablet {
                    gap: $gap-s;
                    margin-bottom: 4rem;
                    display: inline-flex;
                }

                svg {
                    @include svgSize();
                    transition: 0.3s all ease-in-out;

                    path {
                        transition: 0.3s all ease-in-out;
                    }

                    @include small-tablet {
                        width: 4.2rem;
                        height: 4.4rem;
                    }
                }

                @include svgHover($accent);

                &-text {
                    color: $black;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.464rem;

                    @include small-tablet {
                        font-size: 3rem;
                        font-weight: 500;
                        line-height: 4.5rem;
                    }
                }
            }
        }

        &-menu {
            display: flex;
            align-items: center;
            gap: $gap-m;

            &-item {
                color: $black;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.464rem;

                @include pseudo-states($accent);
            }
        }
    }

    &__mobile-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include small-tablet {
            margin-bottom: 4rem;
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: $gap-m;
        }

        &-item {
            svg {
                width: 4rem;
                height: 4rem;

                path {
                    transition: 0.3s all ease-in-out;
                }
            }

            @include svgHover($accent);
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $gap-l;
        margin-bottom: 2.85rem;

        @include small-tablet {
            margin-bottom: 0;
        }

        &-searchbar {
            display: flex;
            align-items: center;
            gap: $gap-s;
            width: 100%;
            position: relative;

            &-button {
                padding: 1.2rem 2.6rem 1.2rem 5.5rem;
                position: relative;
                width: 100%;
                height: 100%;
                text-align: right;

                span {
                    display: block;
                }

                .desktop {
                    color: $white;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.464rem;
                }

                @include small-tablet {
                    width: 8.4rem;
                    height: 8.4rem;

                    &::after,
                    &::before {
                        left: 2.4rem;
                        max-width: 3.6rem;
                        border-width: 0.2rem;
                    }

                    &::after {
                        top: 5.2rem;
                    }

                    &::before {
                        top: 2.8rem;
                    }
                }

                &::after {
                    @include pseudo {
                        position: absolute;
                        max-width: 1.8rem;
                        width: 100%;
                        border: 0.1rem solid $white;
                        background: $white;
                        top: 3.1rem;
                        left: 2.8rem;
                        transition: 0.3s all ease;
                        border-radius: 0.3rem;
                    }
                }

                &::before {
                    @include pseudo {
                        position: absolute;
                        max-width: 1.8rem;
                        width: 100%;
                        border: 0.1rem solid $white;
                        background: $white;
                        top: 1.9rem;
                        left: 2.8rem;
                        transition: 0.3s all ease;
                        border-radius: 0.3rem;
                    }
                }

                &-wrapper {
                    position: relative;
                    max-width: 14.4rem;
                    width: 100%;
                    height: 5rem;
                    display: flex;
                    align-items: flex-end;

                    @include small-tablet{
                        max-width: 8.4rem;
                        height: initial;
                    }

                    &.--active {
                        span {
                            opacity: 0;
                            user-select: none;
                        }

                        .header__content-searchbar-button {
                            &::after {
                                transform: rotate(45deg);
                                left: 3rem;
                                top: 2.5rem;
                            }

                            &::before {
                                transform: rotate(-45deg);
                                left: 3rem;
                                top: 2.5rem;
                            }
                        }
                    }

                    span {
                        position: absolute;
                        max-width: 1.8rem;
                        width: 100%;
                        border: 0.1rem solid $white;
                        background: $white;
                        top: 2.5rem;
                        left: 2.8rem;
                        transition: 0.3s all ease;
                        border-radius: 0.3rem;

                        @include small-tablet {
                            max-width: 3.6rem;
                            border-width: 0.2rem;
                            top: 4rem;
                            left: 2.4rem;
                        }
                    }
                }
            }

            &-form {
                width: 100%;
                position: relative;

                label {
                    display: block;
                    width: 100%;
                }
            }

            &-input {
                width: 100%;
                height: 5rem;
                color: $black;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;
                border-radius: 3rem;
                border: .1rem solid #E6EAFF;
                background: $white;
                box-shadow: 3rem 1.5rem 10rem 0px rgba(128, 131, 181, 0.25);

                @include small-tablet {
                    height: initial;
                }
            }

            &-icon {
                position: absolute;
                right: 1.6rem;
                top: 2.6rem;
                transform: translate(-50%, -50%);
                width: 2.4rem;
                height: 2.4rem;

                @include small-tablet {
                    top: 4.6rem;
                }
            }
        }

        &-links {
            display: flex;
            align-items: center;
            gap: $gap-xs;

            a {
                width: 5rem;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s all ease-in-out;
                border: 0.1rem solid transparent;

                svg {
                    @include svgSize;

                    path {
                        transition: 0.3s all ease-in-out;
                    }
                }

                &:focus {
                    background: $white;
                    border: 0.1rem solid $accent;

                    svg {
                        path {
                            fill: $accent;
                        }
                    }
                }

                &:hover {
                    background: $white;
                    border: 0.1rem solid $accent;

                    svg {
                        path {
                            fill: $accent;
                        }
                    }
                }

                &:active {
                    background: $accent;

                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }

    &__subheader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-list {
            display: flex;
            align-items: center;
        }

        &-item {
            padding: 1.4rem 2.6rem;
            color: $black;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.464rem;
            transition: 0.3s all ease-in-out;

            &:focus {
                outline: 0.1rem solid $accent;
                outline-offset: 0.3rem;
            }

            &:hover {
                color: $white;
                background-color: $accent;
            }

            &:active {
                color: $white;
                outline: 0;
                outline-offset: 0;
            }
        }

        &-button {
            display: flex;
            align-items: center;
            gap: $gap-xs;
            padding: 1.75rem 2.6rem;
            margin-top: -0.85rem;
            transition: 0.3s all;

            &:hover {
                opacity: 0.75;
            }

            &:active {
                transform: scale(0.97);
                opacity: 1;
            }

            svg {
                @include svgSize;
            }
        }
    }

    &__burger {
        &-menu {
            @media (min-width: 49em) {
                display: none;
            }

            position: fixed;
            inset: 0;
            background: $white;
            padding: 3rem;
            z-index: 5;
            opacity: 0;
            transform: scale(0.95);
            will-change: opacity, transform;
            transition: 0.3s all ease-in;
            pointer-events: none;

            &.--active {
                opacity: 1;
                transform: scale(1);
                pointer-events: auto;
            }
        }

        &-close {
            width: 4rem;
            height: 4rem;
            margin-bottom: 1rem;
            margin-left: auto;
            cursor: pointer;
        }

        &-catalog {
            align-items: center;
            gap: 1rem;
            color: $black;
            font-size: 3rem;
            font-style: normal;
            line-height: 4.5rem;
            margin-bottom: 4rem;
            display: inline-flex;

            svg {
                width: 4rem;
                height: 4rem;
            }
        }

        &-list {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 4rem;
            margin-bottom: 9rem;
        }

        &-item {
            color: $black;
            font-size: 3rem;
            font-weight: 500;
            line-height: 4.5rem;
        }

        &-contacts {
            &-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: $gap-l;
                margin-bottom: 4rem;
            }

            &-item {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: $black;
                font-size: 3rem;
                font-weight: 500;
                line-height: 4.5rem;

                img {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }

        &-social {
            display: flex;
            align-items: center;
            gap: $gap-l;

            img {
                width: 4rem;
                height: 4rem;
            }
        }

        &-submit-button {
            margin-top: 8rem;
            padding: 1.9rem 4rem;
        }
    }

    &__searchbar {
        &-menu {
            border-radius: 5rem;
            background: $white;
            box-shadow: 1rem 2rem 9.4rem 0 rgba(125, 128, 161, 0.2);
            padding: 4rem 3.6rem;
            padding-right: 2.4rem;
            position: absolute;
            left: 0;
            right: 0;
            top: 6rem;
            z-index: 6;
            max-width: 85.3rem;
            width: 100%;
            overscroll-behavior: contain;
            opacity: 0;
            transition: 0.3s all ease;
            pointer-events: none;
            user-select: none;
            transform: scale(0.95);

            @include small-tablet {
                position: fixed;
                inset: 0;
                border-radius: 0;
                box-shadow: initial;
                max-width: 100%;
            }

            &.--active {
                opacity: 1;
                pointer-events: auto;
                user-select: auto;
                transform: scale(1);
            }

            &-field {
                display: flex;
                align-items: center;
                gap: 5rem;
                position: relative;
                margin-bottom: 4rem;

                &-back-button {
                    width: 4.8rem;
                    height: 4.8rem;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &-input {
                width: 100%;

                label {
                    width: 100%;

                    input {
                        border-radius: 6rem;
                        border: 0.1rem solid #e6eaff;
                        background: #fcfafa;
                        padding: 2.1rem 4rem;
                        color: $black;
                        font-size: 3rem;
                        font-weight: 500;
                        line-height: 4.5rem;
                        width: 100%;
                    }

                    svg {
                        position: absolute;
                        right: 3.2rem;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                }
            }

            &-searched {
                &-list {
                    display: flex;
                    align-items: center;
                    gap: $gap-s;
                    margin-bottom: 4rem;
                    padding-bottom: 2rem;
                    position: relative;
                    white-space: nowrap;
                    overflow-x: auto;
                }

                &-item {
                    padding: 1.3rem 4rem;
                    border-radius: 6rem;
                    border: 0.1rem solid #e6eaff;
                    background: $white;
                    color: $black;
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 4.5rem;
                }
            }

            &-scroll {
                max-height: 90rem;
                overflow: auto;
                padding-right: 2.3rem;
                overscroll-behavior: contain;

                @include small-tablet {
                    max-height: 80%;
                    padding-right: 1rem;
                }

                &::-webkit-scrollbar {
                    width: 0.3rem;
                    border-radius: 0.3rem;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background: #dfdff0;
                }
            }

            .empty-response {
                color: $grey;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.8rem;
            }
        }

        &-category {
            color: $black;
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.8rem;
            margin-bottom: 1rem;

            @include small-tablet {
                font-size: 3.4rem;
                line-height: 4.8rem;
                margin-bottom: 4rem;
            }
        }

        &-subcategory {
            color: $grey;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.24rem;
            letter-spacing: 0.016rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
            display: block;

            @include small-tablet {
                font-size: 3rem;
                line-height: 4.5rem;
                margin-bottom: 4rem;
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: $gap-xs;
                margin-bottom: 2rem;

                @include small-tablet {
                    gap: $gap-m;
                }
            }

            &-item {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 1.5rem;

                @include small-tablet {
                    gap: 0;
                }

                &-image {
                    max-width: 8.8rem;
                    width: 100%;
                    height: 7rem;
                    border-radius: 2.5rem;
                    background: linear-gradient(
                        330deg,
                        #e7eaff 5.17%,
                        #f8f9ff 34.26%,
                        #e9ebf9 52.5%,
                        #eaedff 91.39%
                    );
                    overflow: hidden;

                    @include small-tablet {
                        max-width: 12.8rem;
                        height: 12rem;
                        margin-right: 2.4rem;
                    }

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    img {
                        height: 100%;
                        transition: 0.3s all ease;
                    }
                }

                &-title {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: 0.3s all ease;
                    color: $black;
                    font-size: 1.6rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.464rem;
                    max-width: 56.5rem;
                    width: 100%;

                    @include small-tablet {
                        font-size: 3rem;
                        line-height: 4.5rem;
                        max-width: 38.4rem;
                    }

                    &:hover {
                        color: $accent;
                    }
                }

                &-price {
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;
                    align-items: flex-start;

                    .big {
                        color: $black;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 2.8rem;

                        @include small-tablet {
                            font-size: 3.4rem;
                            line-height: 4.8rem;
                        }
                    }

                    .small {
                        color: $grey;
                        font-size: 1.4rem;
                        font-weight: 500;
                        line-height: 1.96rem;
                        text-decoration: line-through;
                        text-decoration-color: currentColor;

                        @include small-tablet {
                            font-size: 2.4rem;
                            line-height: 3.6rem;
                        }
                    }
                }
            }
        }

        &-search {
            &-list {
                display: flex;
                flex-direction: column;
                gap: $gap-xs;
                margin-bottom: 3rem;
                margin-top: 2rem;

                @include small-tablet {
                    gap: $gap-s;
                    margin-bottom: 6rem;
                    margin-top: 4rem;
                }
            }

            &-item {
                align-items: center;
                gap: $gap-s;
                color: $black;
                display: inline-flex;

                @include small-tablet {
                    gap: $gap-s;
                }

                &:hover {
                    color: $accent;
                }

                &-link {
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.464rem;
                    transition: 0.3s all ease;

                    @include small-tablet {
                        color: $black;
                        font-size: 3rem;
                        font-weight: 500;
                        line-height: 4.5rem;
                    }
                }

                svg {
                    width: 2.4rem;
                    height: 2.4rem;

                    @include small-tablet {
                        width: 4.2rem;
                        height: 4.2rem;
                    }
                }
            }
        }

        &-brands {
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1.89rem;

                @include small-tablet {
                    gap: $gap-l;
                    white-space: nowrap;
                    max-width: 100%;
                    width: 114%;
                    overflow: auto;
                }
            }

            &-item {
                max-width: 11.3rem;
                width: 100%;
                height: 11.3rem;

                @include small-tablet {
                    max-width: 12rem;
                    height: 12rem;
                }

                img {
                    @include small-tablet {
                        width: 12rem;
                        height: 12rem;
                    }
                }
            }
        }
    }

    &__catalog {
        position: fixed;
        inset: 0;
        background: rgba(85, 87, 96, 0.5);
        backdrop-filter: blur(5px);
        justify-content: center;
        top: 15rem;
        align-items: flex-start;
        padding-top: 1rem;
        opacity: 0;
        transition: 0.3s all ease;
        z-index: 6;
        pointer-events: none;
        user-select: none;
        display: none;

        @include small-tablet {
            top: 0;
            border-radius: 0;
            box-shadow: initial;
            backdrop-filter: initial;
            background: $white;
            pointer-events: none;
            user-select: none;
            overflow: auto;
        }

        &.--active {
            opacity: 1;
            pointer-events: auto;
            user-select: auto;
            display: flex;
            animation: fade 0.3s ease both;
            overflow-x: hidden;

            .header__catalog-menu {
                transform: scale(1);
            }

            .header__catalog-category-wrapper {
                @include small-tablet {
                    margin-bottom: 4rem;
                }
            }
        }

        &-menu {
            padding: 4rem;
            border-radius: 5rem;
            background: $white;
            box-shadow: 1rem 2rem 9.4rem 0 rgba(125, 128, 161, 0.2);
            max-width: 122.9rem;
            width: 100%;
            position: relative;
            height: 78rem;
            transform: scale(0.9);
            transition: 0.3s all ease;

            @include small-tablet {
                background: transparent;
                box-shadow: initial;
                max-width: 100%;
            }

            &-title {
                @include small-tablet {
                    color: $black;
                    font-size: 4rem;
                    font-weight: 600;
                    line-height: 4.8rem;
                    margin-bottom: 6rem;
                    display: block;
                }
            }

            &-back {
                @include small-tablet {
                    margin-bottom: 6.6rem;

                    svg {
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
        }

        &-categories {
            display: flex;
            flex-direction: column;
            gap: $gap-s;
            padding-right: 4rem;
            border-right: 0.1rem solid #e6eaff;
            max-width: 39.4rem;
            width: 100%;
            max-height: 100%;
            height: 100%;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            @include small-tablet {
                max-width: 100%;
                border-right: 0;
                padding-right: 0;
                gap: $gap-l;
                max-height: 100%;
                overflow: initial;
            }
        }

        &-category {
            display: flex;
            align-items: center;
            width: 100%;

            @include small-tablet {
                flex-direction: column;
            }

            &-wrapper {
                display: flex;
                align-items: center;
                width: 100%;

                @include small-tablet {
                    margin-bottom: 4rem;
                }
            }

            &.--active {
                .header__catalog-category-content {
                    pointer-events: auto;
                    user-select: auto;
                    visibility: visible;

                    @media (min-width: 48rem) {
                        display: flex;
                    }
                }

                .header__catalog-category-name {
                    color: $accent;

                    svg {
                        path {
                            fill: $accent;
                        }

                        @include small-tablet {
                            transform: rotate(270deg);
                        }
                    }
                }
            }

            &-image {
                border-radius: 1rem;
                margin-right: 2rem;
                max-width: 6rem;
                width: 100%;
                height: 6rem;
                overflow: hidden;

                @include small-tablet {
                    max-width: 8rem;
                    height: 8rem;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    height: 100%;
                    transition: 0.3s all ease;
                }
            }

            &-name {
                color: $black;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: 0.3s all ease;
                width: 100%;

                @include small-tablet {
                    font-size: 3rem;
                    line-height: 4.5rem;
                }

                &:hover {
                    color: $accent;

                    svg {
                        path {
                            fill: $accent;
                        }
                    }
                }

                svg {
                    width: 2.4rem;
                    height: 2.4rem;
                    transition: 0.3s all ease;

                    path {
                        transition: 0.3s all ease;
                    }

                    @include small-tablet {
                        width: 4rem;
                        height: 4rem;
                        transform: rotate(90deg);
                    }
                }
            }

            &-content {
                position: absolute;
                top: 4rem;
                left: 47.5rem;
                align-items: flex-start;
                gap: 8rem;
                pointer-events: none;
                user-select: none;
                visibility: hidden;
                display: none;
                max-height: 90%;
                height: 100%;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 0.4rem;
                }

                &::-webkit-scrollbar-track {
                    background: #e6eaff;
                }

                &::-webkit-scrollbar-thumb {
                    background: #a8a7ca;
                    border-radius: 0.6rem;
                }

                @include small-tablet {
                    position: initial;
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    gap: $gap-l;
                    margin-left: 6rem;
                    display: none;
                    max-height: 100%;
                    overflow: initial;
                    max-width: 54rem;
                    width: 100%;
                }

                &-name {
                    color: $black;
                    font-size: 2.4rem;
                    font-weight: 600;
                    line-height: 2.88rem;
                    margin-bottom: 3rem;
                    display: block;

                    @include small-tablet {
                        color: $grey;
                        font-size: 3rem;
                        font-weight: 500;
                        line-height: 4.5rem;
                        margin-bottom: 2rem;
                    }
                }
            }

            &-subcategory {
                @include small-tablet {
                    margin-bottom: 4rem;
                }
            }

            &-list {
                display: grid;
                grid-template-columns: repeat(2, 21.6rem);
                gap: 2rem 4rem;

                @include small-tablet {
                    display: flex;
                    flex-direction: column;
                    gap: $gap-s;
                }
            }

            &-item {
                color: $black;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;
                transition: 0.3s all ease;

                @include small-tablet {
                    font-size: 3rem;
                    line-height: 4.5rem;
                }

                &:hover {
                    color: $accent;
                }
            }

            &-brands {
                padding: 0 2rem 0 4rem;
                border-left: 0.1rem solid #e6eaff;

                @include small-tablet {
                    padding: 0;
                    border-left: 0;
                }

                &-list {
                    display: flex;
                    flex-direction: column;
                    gap: $gap-s;

                    @include small-tablet {
                        flex-direction: row;
                        white-space: nowrap;
                        overflow: auto;
                        width: 115%;
                    }
                }

                &-item {
                    width: 12rem;
                    height: 12rem;
                    border-radius: 50%;

                    img {
                        width: 12rem;
                        height: 12rem;
                    }
                }
            }
        }
    }
}
