@import 'vars';
@import 'mixins';

.hero {
    overflow: hidden;
    position: relative;
    margin-bottom: 10rem;

    &::after {
        @include pseudo {
            background: $white;
            z-index: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 4rem;
        }
    }

    @include small-tablet {
        margin-bottom: 10rem;
    }

    &__content {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        [data-banner='1'] {
            max-width: 66.9rem;
            margin-left: 6rem;

            @include small-tablet{
                    margin: initial;
                    max-width: 37.2rem;
                    right: -2rem;
                    bottom: -35rem;
            }
        }

        [data-banner='2'] {
            max-width: 100%;
            transform: scale(.83);
            left: 0;
            margin-left: -2rem;
            margin-top: -9rem;

            @include small-tablet{
                margin: initial;
                transform: scale(.9) translateY(10rem);
                left: auto;
                right: -3rem;
            }
        }

        [data-banner='3'] {
            max-width: 68.7rem;
            margin-top: -4rem;
            margin-left: 2rem;

            @include small-tablet{
                margin: initial;
                max-width: 37.2rem;
                transform: translateY(15rem) translateX(-5rem);
            }
        }

        [data-banner='4'] {
            max-width: 70rem;
            margin-top: -15rem;
            margin-left: -1rem;

            @include small-tablet{
                margin: initial;
                max-width: 37.2rem;
                transform: translateY(15rem);
                right: -3rem;
            }
        }
    }

    &__banner {
        width: 100%;
        max-width: 90rem;
        margin-top: -8rem;
        max-height: 39rem;


        @include small-tablet {
            position: absolute;
            width: 45rem;
            height: 45rem;
            right: -5rem;
            bottom: -37rem;
        }
    }

    &__title-unwrap {
        position: absolute;
        z-index: 0;
        inset: 0;
        top: 38%;

        @include small-tablet {
            top: 45%;
            left: -31rem;

            svg {
                width: 135rem;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: auto;
        max-width: 73.8rem;
        width: 100%;

        @include small-tablet {
            margin-left: initial;
            max-width: 100%;
        }
    }

    &__subtitle {
        color: $grey;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.24rem;
        letter-spacing: 0.016rem;
        text-transform: uppercase;
        margin-bottom: 1rem;

        @include small-tablet {
            font-size: 3rem;
            font-style: normal;
            line-height: 4.5rem;
            margin-bottom: 2rem;
        }
    }

    &__title {
        color: $black;
        font-size: 8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 8.8rem;
        margin-bottom: 4rem;

        @include small-tablet {
            font-size: 6.4rem;
            font-style: normal;
            line-height: 7.14rem;
        }
    }

    &__button {
        padding: 1.9rem 2.6rem;

        @include small-tablet {
            padding: 1.9rem 4rem;
        }
    }

    &-pagination-info {
        position: absolute;
        right: 88.5rem;
        bottom: 11.5rem;
        transform: translateX(50%);
        z-index: 4;

        @include small-tablet {
            left: -12rem;
            right: auto;
            bottom: 11rem;
        }
    }

    &-swiper-slide {
        padding: 13.3rem 12rem 22rem 0;

        @include small-tablet {
            padding: 13.3rem 0 45rem 0;
        }
    }

    &-next {
        top: auto !important;
        bottom: 11.5rem!important;
        right: 18rem !important;

        @include small-tablet {
            right: 45.5rem !important;
            bottom: 20.5rem !important;
        }
    }

    &-prev {
        left: auto !important;
        top: auto !important;
        right: 27.5rem!important;
        bottom: 11.5rem!important;

        @include small-tablet {
            right: 60.5rem !important;
            bottom: 20.5rem !important;
        }
    }

    &__swiper {
        overflow: initial !important;
    }
}
