@import 'vars';

@mixin pseudo() {
    content: '';
    position: absolute;
    @content;
}

@mixin small-tablet {
    @media (max-width: 48rem) {
        @content;
    }
}

@mixin button {
    color: $white;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.464rem;
    border-radius: $initial-border-radius;
    background: $accent;
    @content;
}

@mixin product-card {
    border-radius: 2.5rem;
    background: linear-gradient(315deg, #e7eaff 0%, #f8f9ff 31.56%, #e9ebf9 51.35%, #eaedff 93.54%);
    padding: 1.5rem;

    &-top {
        &-heading {
            position: relative;
            padding: 3.5rem 6.8rem;
            border-radius: 2rem;
            background: $white;
            max-height: 27rem;
            margin-bottom: 1rem;

            @include small-tablet{
                padding: 3.2rem 8.6rem;
                margin-bottom: 2rem;
            }
        }

        &-bonus {
            padding: 0.4rem 1.6rem;
            border-radius: $initial-border-radius;
            background: #f83659;
            color: $white;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.464rem;
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;

            @include small-tablet{
                padding: .6rem 2rem;
                font-size: 2.4rem;
                line-height: 3.6rem;
            }
        }

        &-icon {
            position: absolute;
            right: 1.5rem;
            top: 1.5rem;
            cursor: pointer;

            svg {
                @include svgSize;

                @include small-tablet{
                    width: 4rem;
                    height: 4rem;
                }
            }

            &:hover{
                svg {
                    fill: $accent;
                }
            }
        }

        &-image {
            width: 100%;
            max-width: 20rem;
            height: 20rem;

            @include small-tablet{
                width: 13.6rem;
                height: 13.6rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-title {
        color: $black;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 1.5rem;
        transition: .3s color ease-in;

        @include small-tablet{
            font-size: 3rem;
            line-height: 4.5rem;
            margin-bottom: 8.8rem;
        }

        &:hover{
            color: $accent;
        }
    }

    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $gap-xs;
        margin-bottom: 2.5rem;

        @include small-tablet {
            display: none;
        }

        &-counter {
            display: flex;
            align-items: center;
            gap: $gap-xs;

            .decrement, .increment{
                width: 3rem;
                height: 3rem;
                border-radius: 1rem;
                border: .1rem solid $grey;
                background: $white;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }

            .count{
                color: $black;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.464rem;
            }
        }

        &-category {
            padding: .25rem 1.6rem;
            border-radius: 2rem;
            border: .1rem solid $grey;
            background: $white;
            color: $black;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.464rem;
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.3rem;

        @include small-tablet{
            flex-direction: column;
            gap: $gap-m;
        }

        &-price {
            display: flex;
            align-items: flex-end;
            gap: .7rem;

            @include small-tablet{
                gap: 1rem;
            }

            .big {
                color: $black;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2.88rem;

                @include small-tablet{
                    font-size: 4rem;
                    line-height: 4.8rem;
                }
            }

            .small {
                color: $grey;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.96rem;
                text-decoration: line-through;
                text-decoration-color: currentColor;

                @include small-tablet{
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                }
            }
        }

        &-button {
            display: flex;
            align-items: center;
            gap: $gap-xs;
            padding: 1.25rem 2.6rem;

            @include small-tablet{
                max-width: 100%;
                width: 100%;
                padding: 1.4rem 4.4rem 1.4rem 5rem;
            }

            svg {
                @include svgSize;

                @include small-tablet {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
    }
}

@mixin project-card {
    border-radius: 2.5rem;
    background: $white;
    box-shadow: 20px 40px 100px 0px rgba(128, 131, 181, 0.2);
}

@mixin input($color: $grey, $padding-y: 1.75rem) {
    color: $color;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.464rem;
    border-radius: $initial-border-radius;
    background: $accent-white;
    padding: $padding-y 2.6rem;

    @include small-tablet {
        padding: 2.1rem 4rem;
        font-size: 3rem;
        font-style: normal;
        line-height: 4.5rem;
    }

    &::placeholder{
        color: $grey;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.464rem;

        @include small-tablet{
            font-size: 3rem;
            line-height: 4.5;
        }
    }

    @content;

}

@mixin label() {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .6rem;
    width: 100%;

    @include small-tablet{
        gap: $gap-s;
    }

    span {
        color: $black;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.464rem;
        margin-left: 2.6rem;

        @include small-tablet{
            font-size: 3rem;
            line-height: 4.5rem;
        }
    }

    @content;
}

@mixin vertical-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @content;
}

@mixin horizontal-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @content;
}

@mixin icon-circle {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.29) 0%,
        rgba(224, 228, 255, 0.58) 99.99%,
        rgba(255, 255, 255, 0.58) 100%
    );
    box-shadow:
        1.8975001573562622px -2.213750123977661px 3.478750467300415px 0px #fff inset,
        -3.1625001430511475px 8.538750648498535px 6.6412506103515625px 0px rgba(0, 0, 0, 0.02) inset;
    backdrop-filter: blur(3.0043752193450928px);
    padding: 2.4rem;
    border-radius: 50%;

    @content;

    @include small-tablet {
        padding: 3rem;
    }
}

@mixin icon-circle-blue($padding) {
    background-color: #586cbe;
    filter: drop-shadow(5px 13px 50px rgba(57, 56, 113, 0.15));
    border-radius: 50%;
    padding: $padding;

    @content;
}

@mixin svgSize() {
    width: 2.4rem;
    height: 2.4rem;

    @include small-tablet {
        width: 4.8rem;
        height: 4.8rem;
    }

    @content;
}

@mixin pseudo-states($color) {
    transition: 0.3s all ease-in-out;

    &:focus {
        color: $color;
    }

    &:hover {
        color: $color;
        @content;
    }

    &:active {
        color: currentColor;
    }
}

@mixin svgHover($color) {
    &:focus {
        svg {
            path {
                fill: $color;
            }
        }
    }

    &:hover {
        svg {
            path {
                fill: $color;
            }
        }
    }
}

@mixin swiper-controls {
    &-pagination-info {
        margin-top: 4.3rem;
        display: inline-flex;
    }

    &-prev,
    &-next {
        position: initial !important;
        margin-top: 0 !important;
    }

    &-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $gap-xs;
    }

    &-buttons {
        display: flex;
        align-items: center;
        gap: $gap-s;
        margin-top: 4rem;
    }

    @content;
}
