@import 'vars';
@import 'mixins';

.modal__wrapper {
    position: fixed;
    inset: 0;
    background: rgba(85, 87, 96, 0.5);
    backdrop-filter: blur(0.5rem);
    align-items: center;
    justify-content: center;
    z-index: $z-index-modals;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    display: flex;
    transition: 0.3s opacity ease-in;

    &.--active {
        opacity: 1;
        pointer-events: auto;
    }

    .modal {
        position: relative;
        padding: 6rem 10rem;
        border-radius: 5rem;
        background: $white;
        box-shadow: 1rem 2rem 9.4rem 0 rgba(125, 128, 161, 0.2);
        max-width: 107.4rem;
        width: 100%;

        transform: scale(1.15);
        will-change: transform;
        transition: 0.2s transform ease-in;

        @include small-tablet {
            padding: 4rem 4rem 8rem 4rem;
            max-width: 70rem;
            width: 100%;
        }

        &.--active {
            transform: scale(1);
        }

        &__title {
            text-align: center;
            color: var(--black, var(--black, #555760));
            font-size: 6rem;
            font-style: normal;
            font-weight: 600;
            line-height: 7.2rem;
            margin-bottom: 3rem;

            @include small-tablet {
                font-size: 4.8rem;
                line-height: 5.8rem;
                margin-bottom: 4rem;
                margin-top: 2rem;
            }
        }

        &__subtitle {
            color: $black;
            text-align: center;
            font-size: 2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.8rem;
            margin-bottom: 4rem;

            @include small-tablet {
                text-align: center;
                font-size: 3.4rem;
                line-height: 4.8rem;
                margin-bottom: 8rem;
            }
        }

        &__close {
            cursor: pointer;
            position: absolute;
            right: 4rem;
            top: 4rem;

            svg {
                @include svgSize;

                @include small-tablet {
                    width: 4.4rem;
                    height: 4.4rem;
                }
            }
        }
    }
}

.request__modal {
    &-title {
        @include small-tablet {
            max-width: 32rem;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 4rem;
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    &-fields {
        display: flex;
        align-items: center;
        gap: $gap-s;
        margin-bottom: 4rem;
        width: 100%;

        @include small-tablet {
            flex-direction: column;
            gap: $gap-m;
            margin-bottom: 8rem;
        }
    }

    &-input {
        padding: 1.3rem 2.6rem;
        width: 100%;
        border: 0.1rem solid $light-blue;
        background: #fcfafa;

        &::placeholder {
            color: $grey;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.464rem;
        }
    }

    &-button {
        padding: 1.9rem 2.6rem;
        margin: 0 auto;
        display: block;

        @include small-tablet {
            padding: 2.1rem 4rem;
        }

        &-success {
            @extend .request__modal-button !optional;
        }
    }
}

#request-modal-feedback,
#request-modal-feedback-success {
    .modal {
        max-width: 79.4rem;

        @include small-tablet {
            max-width: 70rem;
        }
    }
}

#request-modal-feedback-success {
    .modal__title {
        @include small-tablet {
            font-size: 4.8rem;
            line-height: 5.8rem;
            margin-bottom: 4rem;
            margin-top: 2rem;
        }
    }
}

.request__feedback {
    &-fields {
        max-width: 43rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        margin: 0 auto;
        margin-bottom: 4rem;

        @include small-tablet {
            gap: $gap-m;
            margin-bottom: 8rem;
            max-width: 100%;
        }
    }

    &-input {
        padding: 1.3rem 2.6rem;
        width: 100%;
        border: 0.1rem solid $light-blue;
        background: #fcfafa;

        &::placeholder {
            color: $grey;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.464rem;
        }
    }

    &-textarea {
        border-radius: $initial-border-radius;
        border: 0.1rem solid #e6eaff;
        background: #fcfafa;
        padding: 1.3rem 1.6rem 1.3rem 2.6rem;
        height: 13.2rem;
        resize: none;
        width: 100%;

        &::placeholder {
            color: $grey;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2.25rem;
        }

        @include small-tablet {
            padding: 2.6rem 3.2rem 2.6rem 4rem;
            border-radius: 6rem;
            height: 26.2rem;
            border-width: 0.2rem;
        }
    }

    &-button {
        margin: 0 auto;
        padding: 1.75rem 2.6rem;
        display: block;

        @include small-tablet {
            padding: 0 4rem;
            height: 8.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

#select-color-modal {
    .modal {
        max-width: 120rem;
        height: calc(100vh - 5rem);
        padding: 6rem;
    }

    .modal__title {
        text-align: start;
    }

    .modal__body {
        &-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4rem;

            &-select {
                display: flex;
                align-items: center;
                gap: $gap-s;
                cursor: pointer;

                &:hover {
                    svg {
                        path {
                            fill: $accent;
                        }
                    }
                }

                &-name {
                    color: $black;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.464rem;
                }

                svg {
                    max-width: 2.4rem;
                    width: 100%;
                    height: 2.4rem;

                    path {
                        transition: 0.3s fill ease-out;
                    }
                }
            }
        }

        &-field {
            position: relative;
            max-width: 61rem;
            width: 100%;

            label {
                width: 100%;

                .input {
                    border-radius: $initial-border-radius;
                    border: 0.1rem solid #e6eaff;
                    background: #fcfafa;
                    padding: 2.1rem 2.6rem;
                    width: 100%;
                }
            }

            &-icon {
                position: absolute;
                top: 50%;
                right: 2.15rem;
                transform: translateY(-50%);
                max-width: 2.4rem;
                width: 100%;
                height: 2.4rem;
            }
        }

        &-colors {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            margin-bottom: 4rem;
            max-height: 73.6rem;
            height: 100%;
            padding-right: 3.3rem;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0.4rem;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: #dfdff0;
                border-radius: 0.6rem;
            }
        }

        &-color {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            gap: 0.6rem;
            max-width: 8rem;
            width: 100%;

            &-background {
                max-width: 8rem;
                width: 100%;
                height: 8rem;
                border-radius: 50%;
            }

            &-article {
                color: $black;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.96rem;
            }
        }

        &-button {
            display: block;
            margin: 0 auto;
            padding: 1.75rem 2.6rem;
            max-width: 15.3rem;
        }
    }

    .modal__close {
        display: none;
    }
}
