@import 'mixins';
@import 'vars';

.our-services {
    @include swiper-controls;

    &__swiper {
        padding-left: .2rem !important;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 3.2rem;

        @include small-tablet {
            flex-direction: column;
            gap: $gap-s;
        }
    }

    &__item {
        max-width: 76.4rem;
        width: 100%;
        padding: 3rem;
        border-radius: 2.5rem;
        background: $white;
        border: 0.1rem solid #e6eaff;

        &:hover {
            .our-services__item-image {
                img {
                    transform: scale(1.1);
                }
            }
        }

        &-top {
            display: flex;
            justify-content: space-between;
            gap: $gap-s;

            @include small-tablet {
                gap: $gap-m;
            }
        }

        @include small-tablet {
            padding: 3rem;
            border-radius: 2rem;
        }

        &-image {
            max-width: 25.8rem;
            width: 100%;
            height: 21.2rem;
            border-radius: 2rem;
            overflow: hidden;

            @include small-tablet {
                max-width: 24rem;
                height: 24rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
                transition: 0.3s all ease;
            }
        }

        &-info {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            &-title {
                color: $black;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 2.88rem;
                margin-bottom: 2rem;

                @include small-tablet {
                    font-size: 3.4rem;
                    line-height: 4.8rem;
                    margin-bottom: 3rem;
                }
            }

            &-button {
                padding: 0.75rem 1.6rem;
                border-radius: 2rem;
                border: 0.1rem solid $grey;
                color: $black;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;
                transition: 0.3s all ease-in;

                &:hover {
                    background: $accent;
                    color: $white;
                    border: 0.1rem solid transparent;
                }

                @include small-tablet {
                    padding: 0.7rem 3.2rem;
                    font-size: 3rem;
                    line-height: 4.5rem;
                }
            }

            &-description {
                margin-top: auto;
                color: $black;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;

                @include small-tablet {
                    font-size: 3rem;
                    line-height: 4.5rem;
                    margin-top: 3rem;
                }
            }
        }
    }
}
