@import 'vars';
@import 'mixins';

.our-projects {
    &__list {
        display: flex;
        gap: $gap-m;

        @include small-tablet{
            flex-direction: column;
            gap: $gap-s;
        }
    }

    &__item {
        @include project-card;
        padding: 1.5rem 1.5rem 2.3rem 1.5rem;
        max-width: 50rem;
        width: 100%;

        @include small-tablet{
            max-width: 100%;
            padding: 1.4rem;
        }

        &-top {
            position: relative;
            height: 26rem;
            margin-bottom: 1.5rem;

            @include small-tablet{
                height: 20rem;
                margin-bottom: 2rem;
            }

            &-category {
                padding: 0.4rem 1.6rem;
                border-radius: 3rem;
                border: 0.1rem solid $white;
                background: var(--white, $white);
                backdrop-filter: blur(3.0043752193450928px);
                position: absolute;
                top: 1.35rem;
                left: 1.5rem;
                color: $black;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;

                @include small-tablet{
                    top: 2rem;
                    left: 2rem;
                    padding: .6rem 3.2rem;
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                }
            }

            &-image {
                width: 100%;
                height: 100%;
                border-radius: 2rem;

                img {
                    height: 100%;
                    object-fit: cover;
                    border-radius: inherit;
                }
            }
        }

        &-title {
            color: $black;
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.8rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            transition: 0.3s color ease-in;
            margin-bottom: 0.5rem;

            @include small-tablet{
                font-size: 3.4rem;
                line-height: 4.8rem;
                margin-bottom: .6rem;
            }

            &:hover {
                color: $accent;
            }
        }

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            &-list {
                display: flex;
                align-items: center;
                gap: 3.4rem;
                margin-top: 1rem;

                @include small-tablet{
                    gap: 4.8rem;
                }
            }

            &-item {
                position: relative;
                color: $grey;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;

                @include small-tablet{
                    font-size: 3rem;
                    line-height: 4.5rem;
                }

                &:not(:last-child) {
                    &::after {
                        @include pseudo {
                            right: -2rem;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 0.4rem;
                            height: 0.4rem;
                            border-radius: 50%;
                            background: $grey;

                            @include small-tablet{
                                width: .8rem;
                                height: .8rem;
                                right: -3.2rem;
                            }
                        }
                    }
                }
            }

            &-link {
                padding: 0.5rem 2.6rem;
                border-radius: $initial-border-radius;
                border: 0.1rem solid $grey;
                background: $white;
                display: flex;
                align-items: center;
                justify-content: center;

                @include small-tablet{
                    padding: 1rem 4rem;
                }

                svg {
                    @include svgSize;

                    @include small-tablet{
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
        }
    }
}
