@import 'vars';
@import 'mixins';

.product {
    &__content {
        display: flex;
        gap: 12rem;
        position: relative;

        @include small-tablet {
            flex-direction: column;
            gap: 6rem;
        }

        &::after {
            @include pseudo {
                position: absolute;
                inset: 0 -4rem 0 0;
                border-radius: 0 20rem 20rem 0;
                background: linear-gradient(114deg, #f0f1fa 12.36%, #dcdff5 37.6%, #f0f1fa 54.16%);
                max-width: 84.3rem;
                width: 100%;
                height: 56rem;
                right: -4rem;
                left: -18rem;

                @include small-tablet {
                    height: 55rem;
                    right: -4rem;
                    left: -3rem;
                    top: 24rem;
                    width: 72rem;
                }
            }
        }
    }

    &__info {
        max-width: 81.7rem;
        width: 100%;

        &-button {
            border-radius: 2rem;
            border: .1rem solid $grey;
            padding: .75rem 1.6rem;
            color: $black;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.464rem;
            margin-bottom: 6rem;
            transition: .3s background-color, color, border-color ease-out;

            &:hover{
                background-color: $accent;
                color: $white;
                border-color: transparent;
            }
        }

        &-article {
            color: $black;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.464rem;
            display: block;
            margin-bottom: 2rem;

            @include small-tablet {
                font-size: 3rem;
                line-height: 4.5rem;
                margin-bottom: 4rem;
            }
        }

        &-title {
            color: $black;
            font-size: 6rem;
            font-weight: 600;
            line-height: 7.2rem;
            margin-bottom: 4rem;

            @include small-tablet {
                color: $black;
                font-size: 4.8rem;
                line-height: 5.96rem;
                margin-bottom: 3rem;
            }
        }

        &-tabs {
            margin-bottom: 2.2rem;
            display: flex;
            align-items: center;

            @include small-tablet {
                margin-bottom: 2rem;
            }

            &-name {
                color: $grey-accent;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.8rem;
                margin-right: 1.2rem;

                @include small-tablet {
                    font-size: 3.4rem;
                    line-height: 4.8rem;
                    margin-right: 2rem;
                    white-space: nowrap;
                }
            }

            &-list {
                display: flex;
                align-items: center;
                gap: 1.2rem;

                @include small-tablet {
                    gap: 0.8rem;
                    overflow: auto;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }

            &-item {
                padding: 0.6rem 2.6rem;
                border-radius: $initial-border-radius;
                background: $white;
                box-shadow: 0.5rem 1.3rem 5rem 0 rgba(57, 56, 113, 0.15);
                color: $black;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.8rem;
                cursor: pointer;
                transition: 0.3s all ease;

                @include small-tablet {
                    padding: 1.3rem 4rem;
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 4.5rem;
                    white-space: nowrap;
                }

                &:hover {
                    background: $accent;
                    color: $white;
                }

                &.--active {
                    background: $accent;
                    color: $white;
                }
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: $gap-s;
            margin-bottom: 4rem;

            @include small-tablet {
                gap: $gap-s;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            @include small-tablet {
                gap: $gap-xs;
            }

            &-name,
            &-description {
                color: $grey-accent;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.8rem;

                @include small-tablet {
                    font-size: 3.4rem;
                    line-height: 4.8rem;
                }
            }

            &-description {
                color: $black;
            }
        }
    }

    &__additionally {
        &-price {
            display: flex;
            align-items: center;
            margin-bottom: 6.5rem;

            @include small-tablet {
                position: fixed;
                bottom: 10rem;
                z-index: 5;
                background: $white;
                box-shadow: 1rem 2.6rem 10rem rgba(57, 56, 113, 0.15);
                padding: 4rem 3rem;
                max-width: 100%;
                width: 100%;
                left: 0;
            }

            .big {
                color: $black;
                font-size: 3.7rem;
                font-weight: 700;
                line-height: 4.44rem;
                margin-right: 1rem;

                @include small-tablet {
                    font-size: 4.4rem;
                    font-weight: 600;
                    line-height: 5.28rem;
                    margin-right: 2rem;
                }
            }

            .small {
                color: $grey;
                text-decoration: line-through;
                text-decoration-color: currentColor;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2.88rem;
                margin-right: 4rem;

                @include small-tablet {
                    font-size: 4rem;
                    line-height: 4.8rem;
                }
            }
        }

        &-button {
            display: flex;
            align-items: center;
            gap: $gap-xs;
            color: $white;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.464rem;
            padding: 1.75rem 2.6rem;

            @include small-tablet {
                padding: 2.1rem 5.4rem;
                margin-left: auto;
            }

            svg {
                width: 2.4rem;
                height: 2.4rem;

                @include small-tablet {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }

        &-description {
            color: $grey-accent;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.464rem;

            @include small-tablet {
                font-size: 3rem;
                line-height: 4.5rem;
            }

            &:not(:last-child) {
                margin-bottom: 2.7rem;
            }
        }

        &-accordion {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            @include small-tablet {
                gap: 6rem;
            }

            &-item {
                width: 100%;

                &.accordion__item-active {
                    .product__additionally-accordion-item-content {
                        animation: flipdown 0.3s ease both;
                        display: block;
                        max-height: 100%;
                        pointer-events: auto;
                        border-top: 0;

                        @include small-tablet {
                            max-height: 100%;
                        }
                    }

                    .product__additionally-accordion-item-trigger {
                        &::before {
                            opacity: 0;
                        }
                    }
                }

                &-trigger {
                    cursor: pointer;
                    position: relative;

                    .trigger-text {
                        color: $grey-accent;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 2.8rem;

                        @include small-tablet {
                            font-size: 3.4rem;
                            line-height: 4.8rem;
                        }
                    }

                    &::after {
                        @include pseudo {
                            top: 1.47rem;
                            right: 0.5rem;
                            width: 1.6rem;
                            height: 0.2rem;
                            border-radius: 2rem;
                            background: $grey-accent;
                            transition: 0.3s all ease;

                            @include small-tablet {
                                width: 3.2rem;
                                height: 0.4rem;
                                top: 2.2rem;
                                right: .4rem;
                            }
                        }
                    }

                    &::before {
                        @include pseudo {
                            top: 0.8rem;
                            width: 0.2rem;
                            border-radius: 2rem;
                            background: $grey-accent;
                            right: 1.2rem;
                            height: 1.5rem;
                            transition: 0.3s all ease;

                            @include small-tablet {
                                height: 3.2rem;
                                width: 0.4rem;
                                right: 1.8rem;
                            }
                        }
                    }
                }

                &-content {
                    margin-top: 2.5rem;
                    max-height: 0;
                    overflow: hidden;
                    transition:
                        0.3s min-height,
                        opacity 0.1s;
                    pointer-events: none;
                    animation-delay: 0.5s;
                    perspective: 900;
                    border-top: 0.1rem solid #e6eaff;
                    will-change: opacity, max-height;

                    @include small-tablet {
                        margin-top: 3rem;
                    }
                }
            }
        }
    }

    &__slider {
        max-width: 62.3rem;
        width: 100%;

        @include small-tablet {
            max-width: 100%;
        }

        &-slide {
            height: 48rem;
            border-radius: 18rem;
            border: 0.1rem solid $white;
            background: lightgray 50% / cover no-repeat;

            img {
                height: 100%;
            }

            @include small-tablet {
                height: 46.8rem;
                max-width: 60.8rem;
            }
        }

        &__swiper {
            margin-top: 4rem;
            margin-bottom: 6rem;

            @include small-tablet {
                margin-top: 0;
                margin-bottom: 6rem;
                margin-left: 4rem !important;
            }
        }

        &-thumb {
            transition: 0.3s all ease;

            &__swiper {
                @include small-tablet {
                    margin-top: 9rem;
                }
            }

            &-wrapper {
                padding-left: 6rem;

                @include small-tablet{
                    padding-left: 0;
                    gap: .8rem;
                    justify-content: center;
                }
            }

            &-slide {
                width: 11.2rem !important;
                height: 11.2rem !important;
                border-radius: 2.5rem;
                background: lightgray 50% / cover no-repeat;
                border: 0.1rem solid transparent;
                cursor: pointer;


                @include small-tablet{
                    width: 1.4rem !important;
                    height: 1.4rem !important;
                    margin-right: 0 !important;
                    background: #F1F2FA;
                    border-radius: 50%;
                }

                &.swiper-slide-thumb-active {
                    border: 0.1rem solid $grey;
                    transition: 0.3s all ease;

                    @include small-tablet{
                        border: 0;
                        background: $accent;
                    }
                }

                img {
                    height: 100%;
                    border-radius: inherit;

                    @include small-tablet{
                        display: none;
                    }
                }
            }
        }
    }

    &__characteristic {
        &-list {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include small-tablet {
                gap: $gap-m;
            }
        }

        &-item {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding-bottom: 1rem;
            border-bottom: 0.1rem solid #e6eaff;

            @include small-tablet {
                padding-bottom: 0.8rem;
            }

            &-name {
                color: $grey-accent;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.24rem;
                letter-spacing: 0.016rem;
                text-transform: uppercase;

                @include small-tablet {
                    font-size: 3rem;
                    line-height: 4.5rem;
                }
            }

            &-description {
                color: $grey-accent;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;

                @include small-tablet {
                    font-size: 3rem;
                    line-height: 4.5rem;
                    max-width: 40.2rem;
                    text-align: right;
                }
            }
        }
    }

    &__description {
        &-list {
            margin-top: 4rem;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem 1.2rem;

            @include small-tablet{
                flex-direction: column;
                flex-wrap: initial;
                margin-top: 6rem;
                gap: $gap-l;
            }
        }

        &-item {
            padding: .75rem 1.6rem;
            border-radius: 2rem;
            border: .1rem solid $grey;
            color: $black;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.464rem;
            transition: .3s all ease;

            @include small-tablet{
                padding: .7rem 3.2rem;
                border-radius: 4rem;
                font-size: 3rem;
                line-height: 4.5rem;
                width: fit-content;
            }

            &:hover{
                background: $accent;
                color: $white;
            }
        }
    }
}
