@import 'vars';
@import 'mixins';

.request {
    &__back-to-basket {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        color: $grey-accent;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.464rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
        transition: 0.3s all ease;

        @include small-tablet {
            margin-top: 4rem;
            margin-bottom: 6rem;
            font-size: 3rem;
            line-height: 4.5rem;
            gap: $gap-m;
        }

        &:hover {
            color: $accent;
        }

        svg {
            width: 2.4rem;
            height: 2.4rem;

            @include small-tablet {
                width: 4rem;
                height: 4rem;
            }
        }
    }

    &__title {
        margin-bottom: 4rem;

        @include small-tablet {
            margin-bottom: 6rem;
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 6rem;

        @include small-tablet {
            flex-direction: column-reverse;
            gap: 0;
        }
    }

    &__form {
        border-radius: 5rem;
        background: $light-blue;
        padding: 6rem;
        max-width: 100rem;
        width: 100%;

        @include small-tablet{
            padding: 5rem 4rem;
            border-radius: 2rem;
        }

        &-title {
            color: $black;
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.8rem;
            margin-bottom: 2.5rem;
            display: block;

            @include small-tablet{
                font-size: 3.4rem;
                line-height: 4.8rem;
                margin-bottom: 5rem;
            }
        }

        &-fields {
            display: flex;
            flex-wrap: wrap;
            gap: $gap-s;
            margin-bottom: 3.5rem;

            @include small-tablet{
                flex-direction: column;
                flex-wrap: initial;
                gap: $gap-m;
                margin-bottom: 6rem;
            }

            label {
                max-width: 43rem;
                width: 100%;

                @include small-tablet{
                    max-width: 100%;
                }

                &.comment {
                    max-width: 100%;
                }

                strong > span {
                    color: $accent;
                    font-size: 1.6rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.464rem;

                    @include small-tablet{
                        font-size: 3rem;
                        line-height: 4.5rem;
                    }
                }
            }
        }

        &-field {
            width: 100%;
        }

        &-submit {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include small-tablet{
                flex-direction: column;
                gap: 6rem;
            }

            &-description {
                max-width: 38.4rem;
                width: 100%;
                color: $grey-accent;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;

                @include small-tablet{
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                    max-width: 100%;
                }

                a {
                    color: $accent;
                }
            }

            &-button {
                padding: 1.75rem 10.65rem;

                @include small-tablet{
                    &.mobile {
                        max-width: 100%;
                        width: 100%;
                        display: block;
                        padding: 2.1rem;
                        text-align: center;
                        position: sticky;
                        bottom: 20rem;
                        margin-top: 6rem;
                    }
                }
            }
        }
    }

    &__file {
        &-input {
            position: absolute;
            inset: 0;
            z-index: 2;
            opacity: 0;
            user-select: none;
        }

        &.mobile {
            align-items: center;
            gap: .5rem;
            margin-bottom: 4rem;

            @include small-tablet{
                display: flex;
            }
        }

        svg {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 0.5rem;

            @include small-tablet{
                width: 4rem;
                height: 4rem;
            }
        }

        &-button {
            padding: .75rem 2.45rem;
            border-radius: 2rem;
            border: 0.1rem solid $grey;
            display: inline-flex;
            align-items: center;
            margin-bottom: 4rem;
            margin-top: -1rem;
            position: relative;

            @include small-tablet{
                padding: .7rem 3.2rem;
                border-radius: 4rem;
                margin-bottom: 2rem;
            }

            svg {
                width: 2.4rem;
                height: 2.4rem;
            }

            &-title {
                color: $grey-accent;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;
                margin-right: 1rem;

                @include small-tablet{
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 4.5rem;
                }
            }

            &-size {
                color: $accent;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.96rem;

                @include small-tablet{
                    font-size: 2.4rem;
                    font-weight: 500;
                    line-height: 3.6rem;
                }
            }
        }
    }

    &__details {
        padding: 3rem;
        border-radius: 2.5rem;
        background: $white;
        box-shadow: 2rem 4rem 10rem 0 rgba(128, 131, 181, 0.2);
        max-width: 50rem;
        width: 100%;

        &.--active {
            .request-details-dropdown {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        @include small-tablet {
            max-width: 100%;
            background: transparent;
            border-radius: 0;
            box-shadow: initial;
            padding: 0;
        }

        &-title {
            display: block;
            margin-bottom: 3rem;
            color: $black;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 2.88rem;

            @include small-tablet {
                font-size: 3.4rem;
                line-height: 4.8rem;

                &.request-details-dropdown {
                    display: flex;
                    align-items: center;
                    gap: $gap-xs;
                }

                svg {
                    width: 4rem;
                    height: 4rem;
                    transition: 0.3s all ease;
                }
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            margin-bottom: 4rem;
            margin-top: 3rem;

            @include small-tablet {
                gap: $gap-l;
                margin-top: 6rem;
                display: none;
            }
        }

        &-item {
            display: flex;
            gap: 1.5rem;
            position: relative;
            padding-bottom: 1.5rem;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            @include small-tablet {
                gap: $gap-m;
                position: relative;
                padding-bottom: 10rem;
            }

            &:not(:last-child) {
                border-bottom: 0.1rem solid #e6eaff;
            }

            &-image {
                width: 10rem;
                height: 10rem;
                overflow: hidden;
                display: block;

                @include small-tablet {
                    width: 18rem;
                    height: 18rem;
                }

                img {
                    height: 100%;
                    transition: 0.3s all ease;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }

            &-info {
                display: flex;
                flex-direction: column;
                height: 10rem;
                max-width: 25.8rem;
                width: 100%;

                @include small-tablet {
                    max-width: 42rem;
                    height: 100%;
                    gap: 1.4rem;
                }

                &-title {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: $black;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 2.8rem;
                    transition: .3s all ease;

                    &:hover{
                        color: $accent;
                    }

                    @include small-tablet {
                        font-size: 3rem;
                        line-height: 4.5rem;
                    }
                }

                &-count {
                    margin-top: auto;
                    color: $grey-accent;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.464rem;

                    @include small-tablet {
                        font-size: 2.4rem;
                        line-height: 3.6rem;
                        position: absolute;
                        left: 6rem;
                        bottom: 3rem;
                    }
                }

                &-category {
                    @include small-tablet {
                        padding: 0.7rem 3.2rem;
                        display: inline;
                        border-radius: 4rem;
                        border: 0.1rem solid $grey;
                        color: $black;
                        font-size: 3rem;
                        font-weight: 500;
                        line-height: 4.5rem;
                        max-width: 28.2rem;
                        white-space: nowrap;
                    }
                }
            }

            &-price {
                position: absolute;
                bottom: 1.5rem;
                right: 0;
                display: flex;
                align-items: flex-end;
                gap: 0.5rem;

                @include small-tablet {
                    flex-direction: row-reverse;
                    gap: $gap-s;
                    left: 21rem;
                    right: auto;
                    bottom: 3rem;
                }

                .small {
                    color: #a8a7ca;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.96rem;
                    text-decoration: line-through;
                    text-decoration-color: currentColor;

                    @include small-tablet {
                        font-size: 2.4rem;
                        line-height: 3.6rem;
                    }
                }

                .big {
                    color: $black;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 2.8rem;

                    @include small-tablet {
                        font-size: 3.4rem;
                        line-height: 4.8rem;
                    }
                }
            }
        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: -1.5rem;

            @include small-tablet {
                align-items: flex-start;
            }

            &-total {
                color: $black;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.8rem;

                @include small-tablet {
                    font-size: 4rem;
                    line-height: 4.8rem;
                }

                &-price {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    @include small-tablet {
                        flex-direction: column-reverse;
                        align-items: flex-end;
                    }

                    .small {
                        color: $grey;
                        font-size: 1.6rem;
                        font-weight: 500;
                        line-height: 2.464rem;
                        text-decoration: line-through;
                        text-decoration-color: currentColor;

                        @include small-tablet {
                            font-size: 3rem;
                            line-height: 4.5rem;
                        }
                    }

                    .big {
                        color: $black;
                        font-size: 2.4rem;
                        font-weight: 600;
                        line-height: 2.88rem;

                        @include small-tablet {
                            font-size: 4.4rem;
                            line-height: 5.28rem;
                        }
                    }
                }
            }
        }
    }
}
