@import 'mixins';
@import 'vars';

.materials {

    &__heading {
        position: relative;

        svg {
            position: absolute;
            right: 0;
            top: 0;
            width: 19rem;
            height: 18rem;

            @include small-tablet{
                right: -3rem;
                top: 6rem;
                width: 16rem;
                height: 14rem;
            }
        }
    }

    &__banner {
        max-width: 68.4rem;
        width: 100%;
        height: 68.4rem;

        @include small-tablet {
            height: 65.4rem;
            width: 65.8rem;
            position: relative;
        }

        .circle {
            border-radius: 50%;
            border: 0.4rem solid $light-blue;
            padding: 6.01rem;

            @include small-tablet {
                padding: 5.74rem;
            }

            .circle {
                @include small-tablet{
                    padding: 5.86rem 5.98rem 4.86rem 5.92rem;
                }
            }

            img {
                border-radius: inherit;
                width: 44.1rem;
                height: 44.1rem;

                @include small-tablet {
                    width: 42rem;
                    height: 42rem;
                }
            }
        }

        .icon {
            @include small-tablet{
                position: absolute;

                &:nth-of-type(1) {
                    top: -2rem;
                    right: 14rem;
                }

                &:nth-of-type(2) {
                    top: 11rem;
                    right: 0;
                }

                &:nth-of-type(3) {
                    top: 32rem;
                    right: -4rem;
                }

                &:nth-of-type(4) {
                    bottom: 4rem;
                    right: 5rem;
                }
            }
        }
    }

    &__content {
        position: relative;

        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 8rem;
        }
    }

    &__list {
        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 5.2rem;
        }
    }

    &__item {
        display: flex;
        gap: $gap-l;
        max-width: 54%;
        position: absolute;

        @include small-tablet {
            position: initial;
            max-width: 100%;
            gap: $gap-s;
        }

        &-icon {
            width: 7rem;
            height: 7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: $black;
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.8rem;
            margin-top: 1rem;
            background: url("../img/materials/circle.svg") no-repeat center;
            background-size: 7rem;

            @include small-tablet {
                width: 10rem;
                height: 10rem;
                font-size: 3.4rem;
                font-weight: 600;
                line-height: 4.8rem;
                background: url("../img/materials/circle-mobile.svg") no-repeat center;
                background-size: 10rem;
            }
        }

        &-text {
            &-title {
                display: block;
                color: $black;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 2.88rem;
                margin-bottom: 2rem;

                @include small-tablet {
                    margin-bottom: 2rem;
                    font-size: 4rem;
                    line-height: 4.8rem;
                }
            }

            &-description {
                color: $grey-accent;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.464rem;

                @include small-tablet {
                    font-size: 3rem;
                    line-height: 4.5rem;
                }
            }
        }

        &:first-child {
            top: 3rem;
            left: 55.7rem;

            .materials__item-icon {
                margin-top: 3rem;
                transform: translateX(-1rem);

                @include small-tablet {
                    margin-top: 0;
                    transform: initial;
                }
            }

            .materials__item-text-description {
                &:not(:nth-of-type(1)) {
                    position: relative;
                    margin-left: 2rem;

                    @include small-tablet{
                        margin-left: 5rem;
                    }

                    &::after{
                        @include pseudo {
                            left: -1rem;
                            top: 1rem;
                            width: .5rem;
                            height: .5rem;
                            border-radius: 50%;
                            background: $grey;

                            @include small-tablet{
                                width: 1rem;
                                height: 1rem;
                                top: 2rem;
                                left: -2rem;
                            }
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            top: 28rem;
            left: 64.5rem;
        }

        &:nth-child(3) {
            top: 43rem;
            left: 61.5rem;

            .materials__item-icon {
                margin-top: 3rem;

                @include small-tablet {
                    margin-top: 0;
                }
            }
        }

        &:nth-child(4) {
            left: 46.5rem;
            bottom: -3rem;
        }
    }
}
