@import 'vars';
@import 'mixins';

.services-banner {
    border-radius: 2.5rem;

    @include small-tablet {
        margin-bottom: 11rem;
    }

    &__content {
        position: relative;
        padding: 10.6rem 10rem 9.6rem 10rem;
        display: block;
        overflow: hidden;

        @include small-tablet {
            padding: 7rem 4rem;
            height: 85rem;
        }
    }

    @include section-banner-image;

    .card-1 {
        position: absolute;
        max-width: 20rem;
        height: 20rem;
        top: 2.6rem;
        right: 28.4rem;
        width: 100%;
        animation: slide-vertical-left 2s infinite alternate;
        background: linear-gradient(
            131deg,
            #c9b8ff 0%,
            rgba(201, 184, 255, 0.89) 13.17%,
            rgba(201, 184, 255, 0.75) 33.82%,
            rgba(201, 184, 255, 0.57) 53.76%,
            rgba(201, 184, 255, 0.42) 66.34%,
            rgba(255, 255, 255, 0) 93.1%
        );
        border-radius: 2.4rem;
        padding: 1.9rem 2.7rem 2.51rem 2.3rem;

        @include small-tablet {
            top: 33.4rem;
            left: 29.2rem;
            max-width: 19rem;
            height: 19rem;
        }
    }

    .card-2 {
        position: absolute;
        max-width: 14rem;
        width: 100%;
        height: 14.596rem;
        top: 17.4rem;
        right: 52.2rem;
        border-radius: 3.8rem;
        background: linear-gradient(
            182deg,
            #96c0ff -11.96%,
            #78aeff -11.95%,
            rgba(150, 192, 255, 0.8) 3.13%,
            rgba(150, 192, 255, 0.67) 32.08%,
            rgba(150, 192, 255, 0.48) 55.43%,
            rgba(150, 192, 255, 0.23) 76.77%,
            rgba(255, 255, 255, 0) 118.51%
        );
        padding: 2rem;
        -ms-transform: rotate(-45deg);
        transform: rotate(-30deg);

        img {
            transform: rotate(30deg);
        }

        @include small-tablet {
            left: 5.6rem;
            top: 55rem;
            max-width: 15rem;
            height: 15rem;
        }
    }

    .card-3 {
        position: absolute;
        max-width: 13.6788rem;
        width: 100%;
        height: 13.6788rem;
        top: 27.3rem;
        right: 32.8rem;
        animation: slide-vertical-left 2.5s infinite alternate;
        background: linear-gradient(140deg, #b7e5ff 4.46%, rgba(212, 238, 253, 0.2) 89.15%);
        padding: 1.55rem 1.46rem 1.46rem 1.55rem;
        border-radius: 50%;

        @include small-tablet {
            max-width: 17rem;
            height: 17.5rem;
            top: auto;
            bottom: 3.8rem;
            left: 24.4rem;
        }
    }

    &__card {
        position: absolute;
        right: 6.8rem;
        bottom: 9.6rem;
        background: $white;
        border-radius: 3rem;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        max-width: 30.5rem;
        width: 100%;
        z-index: $z-index-other;

        @include small-tablet {
            right: 2rem;
            bottom: 16.8rem;
            padding: 1.4rem 2rem;
            gap: $gap-s;
            max-width: 31.4rem;
        }

        &:hover {
            .services-banner__card-icon {
                svg {
                    path {
                        fill: $accent;
                    }
                }
            }
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 4rem;
            width: 100%;
            height: 4rem;
            padding: 0 !important;

            @include small-tablet {
                max-width: 4.8rem;
                height: 4.8rem;
                padding: 0;
            }

            svg {
                max-width: 1.6667rem;
                width: 100%;
                height: 1.6667rem;

                @include small-tablet {
                    max-width: 2rem;
                    height: 2rem;
                }

                path {
                    transition: 0.3s fill ease-out;
                }
            }
        }

        &-title {
            overflow: hidden;
            color: #82879c;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.96rem;
            margin-bottom: 1rem;

            @include small-tablet {
                font-size: 2.4rem;
                line-height: 3.6rem;
                -webkit-line-clamp: 1;
                margin-bottom: 0;
            }
        }

        &-price {
            color: $black;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.464rem;

            @include small-tablet {
                font-size: 3rem;
                line-height: 4.5rem;
            }
        }
    }

    &__subtitle {
        display: block;
        color: $grey;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.24rem;
        letter-spacing: 0.016rem;
        text-transform: uppercase;
        margin-bottom: 2rem;

        @include small-tablet {
            font-size: 3rem;
            line-height: 4.5rem;
            margin-bottom: 2rem;
        }
    }

    &__title {
        color: $black;
        font-size: 6rem;
        font-weight: 600;
        line-height: 7.2rem;
        max-width: 65.1rem;

        @include small-tablet {
            font-size: 4.8rem;
            line-height: 5.9rem;
        }
    }
}
