@import 'vars';
@import 'mixins';

.shares {
    @include swiper-controls;

    &__categories {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;

        &-list {
            display: flex;
            align-items: center;
            overflow-x: scroll;
            cursor: grab;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            &.dragging {
                user-select: none;

                a {
                    user-select: none;
                    pointer-events: none;
                }
            }
        }

        &-item {
            padding: 0.75rem 2.6rem;
            color: $black;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.464rem;
            border-radius: $initial-border-radius;
            background: $white;
            transition: 0.3s all ease-in;
            white-space: nowrap;
            box-shadow: .5rem 1.3rem 5rem rgba(57, 56, 113, 0.15);

            @include small-tablet{
                padding: 1.3rem 4rem;
                font-size: 3rem;
                line-height: 4.5rem;
            }

            &:hover {
                background: $accent;
                color: $white;
            }
        }

        &-icon {
            width: 2.8rem;
            height: 2.8rem;
            cursor: pointer;
            display: flex;
            align-items: center;

            &.left {
                margin-right: .78rem;
                opacity: 0;
                transition: .3s all ease-in-out;

                &.--active {
                    opacity: 1;
                }
            }

            &.right {
                transform: rotate(180deg);
                transition: .3s all ease-in-out;

                &.--active {
                    opacity: 0;
                }
            }

            @include small-tablet{
                display: none;
            }
        }
    }

    &__list {
        display: flex;
        gap: $gap-m;

        @include small-tablet{
            display: grid;
            grid-template-columns: repeat(2, 33.6rem);
            gap: $gap-s;
        }
    }

    &__item {
        max-width: 36.8rem;
        width: 100%;

        @include product-card;
    }
}
