$white: #fff;
$accent-white: #FCFAFA;
$black: #555760;
$grey: #A8A7CA;
$light: #A8A7CA;
$accent: #586CBE;
$light-blue: #F1F2FA;
$grey-accent: #82879C;

$section-gap: 20rem;
$heading-bottom-gap: 6rem;
$gap-xs: 1rem;
$gap-s: 2rem;
$gap-m: 3rem;
$gap-l: 4rem;
$initial-border-radius: 3rem;
$banner-border-radius: 5rem;