$white: #fff;
$accent-white: #FCFAFA;
$black: #000;
$grey: #A8A7CA;
$light: #A8A7CA;
$accent: #586CBE;
$light-blue: #F1F2FA;
$grey-accent: #82879C;

$section-gap: 20rem;
$heading-bottom-gap: 6rem;
$gap-xs: 1rem;
$gap-s: 2rem;
$gap-m: 3rem;
$gap-l: 4rem;
$initial-border-radius: 3rem;
$banner-border-radius: 5rem;

$z-index-modals: 1001;
$z-index-searchbar-menu: 1000;
$z-index-catalog: 999;
$z-index-burger-menu: 998;
$z-index-catalog-sort-menu: 997;
$z-index-catalog-filter-menu: 996;
$z-index-mobile-bar-menu: 995;
$z-index-other: 2;